extends layout
block contenido
	nav
		.nav-wrapper
			.col.s12
				a.breadcrumb(href='#') Home
				a.breadcrumb(href='#') Technology
				a.breadcrumb(href='#') HTML5
	section
		.row
			.col.s12
				h2 POKEMON #{id}
	

